<section class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="breadcrumb">
          <li><%=	 link_to 'Home', jobs_path %></li>
          <li class="active">New job</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h1>Make A New Job</h1>
      </div>
    </div>
  </div>
</section>
<div class="row">
  <div class="col-md-12">

    <div class="alert alert-success hidden" id="contactSuccess">
      <strong>Success!</strong> Your message has been sent to us.
    </div>

    <div class="alert alert-danger hidden" id="contactError">
      <strong>Error!</strong> There was an error sending your message.
    </div>


    <%= render 'form' %>

  </div>
</div>