<div class="col-md-3">
  <aside class="sidebar">

    <%=	 render :file=>'layouts/search-form' %>

    <hr>

    <h4 class="heading-primary">Categories</h4>

    <ul class="nav nav-list mb-xlg">
        <li><%= link_to 'All', rooms_path %></li>
      <%	 @categories.each do |category| %>
          <li><a href="/rooms/<%=	 category.id %>/search_by_category"><%=	 category.category_name %></a></li>
      <%	 end %>
    </ul>

    <hr>

  </aside>
</div>