<div class="signup-form">
  <span class="mega-menu-sub-title">Create Account</span>

  <form method="POST" action="/users" id="frmSignUp" enctype="multipart/form-data">
    <input name="authenticity_token" type="hidden">
    <div class="row">
      <div class="form-group">
        <div class="col-md-12">
          <label>Name</label>
          <input name="user[name]" id="username" type="text" value="" class="form-control input-md">
        </div>
      </div>
    </div>
    <!--<div class="row">-->
      <!--<div class="form-group">-->
        <!--<div class="col-md-12">-->
          <!--<label>User detail</label>-->
          <!--<input name="user[location]" id="userloc" type="text" value="" class="form-control input-md">-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
      <!--<div class="form-group">-->
        <!--<div class="col-md-12">-->
          <!--<label>Skill</label>-->
          <!--<input name="user[skill]" id="userskill" type="text" value="" class="form-control input-md">-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <div class="row">
      <div class="form-group">
        <div class="col-md-12">
          <label>Role</label>
          <select name="user[role]" class="form-control mb-md">
            <option value="client">client</option>
            <option value="freelancer">freelancer</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <div class="col-md-12">
          <label>Your image!</label>
          <input type="file" class="form-control input-md" name="user[image_url]" id="userimage_url">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <div class="col-md-6">
          <label>Password</label>
          <input name="user[password]" id="userpassword" type="password" value="" class="form-control input-md">
        </div>
        <div class="col-md-6">
          <label>Re-enter Password</label>
          <input name="user[password_confirmation]" id="confirmpassword" type="password" value="" class="form-control input-md">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <input id="signup" type="submit" value="Create Account" class="btn btn-primary pull-right mb-xl">
      </div>
    </div>
  </form>

  <p class="log-in-info">Already have an account? <a href="#" id="headerSignIn">Log In</a></p>
</div>
